* {
    /* RESET CSS*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

section {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border: 1px solid red;
    min-height: 350px;
grid-template-areas: 
"box-one box-one box-two box-two" ;
}

.box {
    width: 10px;
    background-color: #c2c2c2;
}

#box-one {
    

}

#box-two {

}
